.terragrunt-cache
.terraform
.terraform.lock.hcl
*secrets.auto.tfvars
secrets.tfvars
tmp/
obj/
bin/
.data/database
gcp-remote-admin.json
node_modules/
dist/
package-lock.json
backend/.vs/
backend/Buk.UniversalGames.Api/Buk.UniversalGames.Api.csproj.user
.vs/buk-universal-games/v16/.suo
.vs/slnx.sqlite
