@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue: #266177;
  --vanilla: #f7ead0;
  --blue-grey: #72898b;
  --dark-brown: #816668;
  --hazy-green: #a0aca7;
  --warm-brown: #ceab9d;
  --dusty-blue: #426083;
  --ice-blue: #dce9ea;
  --grey: #a4a4a4;
  --dark: #f21198;
  --gray-1: #e5e5e5;
  --gray-2: #999;
  --green: #816668;
  --red: #426083;
  --darkgreen: #ceab9d;
  --yellow: #f7ead0;

  --ice-100: #f8fafc;
  --ice-200: #e2e8f0;
  --teal-50: #acd1d6;
  --teal-100: #3e9aa8;
  --teal-200: #296a75;
  --peach-50: #f8c1a9;
  --peach-100: #f18165;
  --peach-200: #d35332;
  --green-50: #e4eacf;
  --green-100: #cbd996;
  --green-200: #285428;
  --yellow-50: #f7f5d4;
  --yellow-100: #fcf09d;
  --yellow-200: #facc78;
  --grey-100: #696969;
  --grey-800: #313131;
  --label-1: #313131;
  --label-2: #696969;
  --label-3: #e5e5e5;

  /* These values yield colours extremely similar to the colours above, through applied CSS filters.
      This means they can be used to colourise SVG elements inserted through <img /> tags. */
  --active-green-button: brightness(0) saturate(100%) invert(39%) sepia(56%)
    saturate(183%) hue-rotate(307deg) brightness(92%) contrast(79%);

  --active-yellow-button: invert(87%) sepia(24%) saturate(597%)
    hue-rotate(356deg) brightness(107%) contrast(98%);

  --inactive-yellow-button: brightness(0) saturate(100%) invert(81%) sepia(58%)
    saturate(4717%) hue-rotate(11deg) brightness(107%) contrast(112%);
}

body {
  background-color: var(--ice-100);
  background-image: url('/image/watermark.svg');
}

h1 {
  @apply text-3xl font-light text-label-1;
}

h2 {
  @apply text-xl font-light text-label-1;
}

h3 {
  @apply text-4xl font-light text-label-1;
}

h4 {
  @apply text-3xl;
}

p {
  @apply text-sm;
}

.label {
  @apply text-xs tracking-wider;
}

@media (min-width: 768px) {
  h1 {
    @apply text-3xl font-light;
  }

  h2 {
    @apply text-2xl font-light;
  }
}

/* disable arrows on number input */
@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

/* Reduce size of date picker */
.dp__overlay { 
 /* height: 200px !important;   */
 }

 /* Remove arrows that cannot be pressed in date picker */
 .dp__theme_light {
  --dp-disabled-color-text: #00000000;
}
